
/* Extra Small */
@media screen and (max-width:575px) {
  /* Jumbotron */
  .jumbotron_content_box img{
    width: 60%;
  }
  
  .jumbotron_content_box{
    width: 100%;
  }
  /* /Jumbotron */

  /* Footer */
  

}

/* Small */
@media screen and (min-width:576px) and (max-width:767px) {
  /* Jumbotron */
  .jumbotron_content_box{
    width: 100%;
  }
  .jumbotron_content_box img{
    width: 60%;
  }
  /* /Jumbotron */

}

/* Medium */
@media screen and (min-width:768px) and (max-width:991px) {

  /* Jumbotron */
  .jumbotron_content_box{
    width: 100%;
  }

  .jumbotron_content_box img{
    width: 55%;
  }
  /* /Jumbotron */

}

/* Large */
@media screen and (min-width:992px) {

  

}





