
/* Extra Small */
@media screen and (max-width:575px) {
  /* Jumbotron */
  .jumbotron_content_box{
    width: 100%;
  }
  .jumbotron_content_box img{
    width: 60%;
  }
  /* /Jumbotron */

  /* Banner Main */
  .banner_middle_content_box{
    width: 100%;
  }
  .banner_middle_content_box img{
    width: 60%;
  }
  /* /Banner Main */

/* 
  .console_box_title h2,
  .ps5_box_title h2,
  .console_item_box_title h2,
  .sales_box_title h2{
    font-size: 1.6rem;
  }

  .ps5_box_title h3{
    font-size: 1.4rem;
  } */

}

/* Small */
@media screen and (min-width:576px) and (max-width:767px) {
  /* Jumbotron */
  .jumbotron_content_box{
    width: 100%;
  }
  .jumbotron_content_box img{
    width: 60%;
  }
  /* /Jumbotron */

  /* Banner Main */
  .banner_middle_content_box{
    width: 100%;
  }
  .banner_middle_content_box img{
    width: 60%;
  }
  /* /Banner Main */

  .dropdown_submenu_ps {
  width: calc(100vw - 25px) !important;
  }


}

/* Medium */
@media screen and (min-width:768px) and (max-width:991px) {

  /* Jumbotron */
  .jumbotron_content_box{
    width: 100%;
  }

  .jumbotron_content_box img{
    width: 55%;
  }
  /* /Jumbotron */

  /* Banner Main */
  .banner_middle_content_box{
    width: 100%;
  }
  .banner_middle_content_box img{
    width: 55%;
  }
  /* /Banner Main */

  /* PS Plus Banner */
  .ps_plus_image_box img{
    width: 120%;
    height: 100%;
  }

}

/* Large */
@media screen and (min-width:992px) {

  

}





