
/* Extra Small */
@media screen and (max-width:575px) {
  /* Jumbotron */
  .jumbotron_content_box{
    width: 100%;
  }
  .jumbotron_content_box img{
    width: 60%;
  }
  /* /Jumbotron */

  /* Banner Main */
  .banner_middle_content_box{
    width: 100%;
  }
  .banner_middle_content_box img{
    width: 60%;
  }
  /* /Banner Main */


  .dropdown_submenu_ps {
    width: 96vw !important;
  }

}

/* Small */
@media screen and (min-width:576px) and (max-width:767px) {
  /* Jumbotron */
  .jumbotron_content_box{
    width: 100%;
  }
  .jumbotron_content_box img{
    width: 60%;
  }
  /* /Jumbotron */

  /* Banner Main */
  .banner_middle_content_box{
    width: 100%;
  }
  .banner_middle_content_box img{
    width: 60%;
  }
  /* /Banner Main */

  .dropdown_submenu_ps {
  width: 96vw !important;
  }

}

/* Medium */
@media screen and (min-width:768px) and (max-width:991px) {

  /* Jumbotron */
  .jumbotron_content_box{
    width: 100%;
  }

  .jumbotron_content_box img{
    width: 55%;
  }
  /* /Jumbotron */

  /* Banner Main */
  .banner_middle_content_box{
    width: 100%;
  }
  .banner_middle_content_box img{
    width: 55%;
  }
  /* /Banner Main */

  /* PS Plus Banner */
  .ps_plus_image_box img{
    width: 120%;
    height: 100%;
  }

  .dropdown_submenu_ps {
    width: 97vw !important;
  }
}

/* Large */
@media screen and (min-width:992px) {

}





