

/* 
    GENERAL 
*/

.btn_standard{
  border-radius: 25px;
  color: white;
  background-color: #2c64e4;
  border: 2px solid #2c64e4;
}

.btn_standard.btn_dark{
  background-color: #363636;
  border: 2px solid #363636;
}

.btn_standard.btn_red{
  background-color: #cd3d10;
  border: 2px solid #cd3d10;
}

.btn_standard.btn_light{
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
}

.txt_blue{
  color: #3569e6;
}

/* 
    /GENERAL 
*/



/* 
    HEADER 
*/

.navbar_sony{
  height: 50px;
  width: 100%;
}
.navbar_sony img{
  width: 80px;
}

.sony_box{
  position: relative;
}

.sony_logo{
  position: absolute;
  top:10px;
  right: 10px;
}


.navbar_ps .fa-chevron-down{
  height: 15px;
}

.navbar_ps .dropdown-toggle::after {
  display: none;
}


.navbar_ps .nav-item.dropdown .chevron_active {
  transform: rotate(180deg);
  display: none;
}

/* .navbar_ps .nav-item.dropdown:active .chevron_active {
  display: block;
}

.navbar_ps .nav-item.dropdown:active .chevron_normal {
  display: none;
} */

.dropdown_submenu_ps {
  left:-80px !important;
  top: 3.5rem !important;
  width: calc(100vw + 3px) !important;
	color: #212529;
	text-align: center;
  background-color: #ffffff;
	background-clip: padding-box;
	border: none;
	border-radius: 0;
  overflow: hidden;
}

.dropdown_submenu_ps .submenu_item{
  border: 1px solid white
}

.dropdown_submenu_ps ul li{
  list-style: none;
  padding: 0 10px;
}

.dropdown_submenu_ps .submenu_bottom ul li::before{
    content: "•";
    padding-right: 6px;
    color: #0972d2;
  }

  .dropdown_submenu_ps a{
    text-decoration: none;
    color: black;
  }

  .dropdown_submenu_ps .submenu_top,
  .dropdown_submenu_ps .submenu_bottom{
    padding: 15px 0;
  }

  .dropdown_submenu_ps .submenu_item:hover{
    border: 1px solid lightgrey;
    box-shadow: grey 0px 0px 5px 5px;
    
  }



/* 
    /HEADER 
*/

/* 
    JUMBOTRON 
*/

.jumbotron{
  width: 100%;
  height: 600px;
  padding: 20px 0;
  background-image: url("../img/jumbo-bg.png");
  background-position: center;
  background-size: cover;
}

.jumbotron_content_box{
  width: 50%;
  height:auto;
  color: white;
  padding: 25px 0;
}

.jumbotron_content_box img{
  width: 35%;
  height: 100%;
}

.jumbotron_content_box h2{
  font-size: 2.2rem;
}

.jumbotron_content_box p{
  font-size: 1.2rem;
}

/* 
    /JUMBOTRON 
*/

/* 
    MAIN 
*/

main{
  overflow: auto;
}

/* Thumb videogames section */

.thumb_games_top_box{
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 25px 35px;
}

.thumb_games_item_box{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.thumb_games_item_box.active{
  border: 2px solid white;
  box-shadow: #007ad0 0px 0px 0px 3px
}

.thumb_games_item_box img{
  width: 100%;
  height: 100%;
}

/* /Thumb videogames section */


/* General - Box with Top and 3 column */

.ps5_box,
.console_box,
.sales_box,
.social_box{
  padding: 35px 0;
}

.ps5_box_title,
.console_box_title,
.console_item_box_title,
.sales_box_title,
.social_box_title{
  padding: 10px 10px;
}


.ps5_box_image img,
.console_item_box_title img,
.sales_box .item_box img{
  width: 100%;
  height: 100%;
}

/* .console_box_title .console_box_subtitle, */
.ps5_box_title .ps5_box_subtitle,
.console_box_title .console_box_subtitle,
.console_item_box_title .console_item_box_subtitle,
.sales_box_title .sales_box_subtitle{
  color: grey;
  font-size: 1.2rem;
}

.console_box_title h2,
.ps5_box_title h2,
.console_item_box_title h2,
.sales_box_title h2,
.social_box_title h2{
  font-size: 2.2rem;
  margin-top: 0px;
  padding-bottom: 10px;
}

/* /General - Box with Top and 3 column */



/* Console and Accessories section */

.ps5_box_title .ps5_box_surtitle{
  color: #82aade;
  text-transform: uppercase;
  font-size: 10px;
}

.accessories_box_item{
  opacity: 0.5;
  padding: 15px 0;
}

.accessories_box_item.item_active{
  opacity: 1;
}

.accessories_col.col_active:after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2082d2;
}

.accessories_box_item_top img{
  width: 100%;
  height: 100%;
}

/* /Console and Accessories section */



/* Banner main */

.banner_middle{
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.banner_middle_content_box{
  width: 50%;
  height:auto;
  color: white;
  padding: 25px 0;
}

.banner_middle_content_box img{
  width: 35%;
  height: 100%;
}

.banner_middle_content_box h2{
  font-size: 2.2rem;
}

.banner_middle_content_box p{
  font-size: 1.2rem;
}

/* /Banner main */

/* New Arrives section */

.new_arrives_box{
  width: 100%;
  height: 100%;
  padding: 20px 35px;
  background-color: #1f1f1f;
  color: white;
}

.new_arrives_box a{
  text-decoration: none;
  color: white;
}

.new_arrives_box_top{
  padding: 20px 0;
}

.new_arrives_item_box{
  width: 100%;
  height: 100%;
}

.new_arrives_item_box img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.new_arrives_item_box span{
  padding: 10px 0;
}

/* /New Arrives section */


/* PS Plus section */

.ps_plus_banner{
  width: 100%;
  height: auto;
  background-color: #bdbcba;
  overflow: hidden;
}

.ps_plus_content_box{
  width: 100%;
  height:auto;
  color: white;
  padding: 35px 0;
}

.ps_plus_content_box img{
  height: 80px;
  padding: 5px 0;
}

.ps_plus_image_box img{
  width: 100%;
  height: 100%;
}


.ps_plus_content_box p{
  color: black;
  font-size: 1.2rem;
  padding: 5px 0;
}


/* /PS Plus section */


/* PS Now section */

.ps_now_banner{
  width: 100%;
  height: auto;
  background-color: #161c3c;
}

.ps_now_content_box{
  width: 100%;
  height:auto;
  color: white;
  padding: 35px 0;
}

.ps_now_content_box img{
  height: 80px;
  padding: 5px 0;
}

.ps_now_image_box img{
  width: 100%;
  height: 100%;
}


.ps_now_content_box p{
  color: white;
  font-size: 1.2rem;
  padding: 5px 0;
}


/* /PS Now section */


/* Social Media section */

.social_box .item_box img{
  width: 100%;
  height: 100%;
}

/* /Social Media section */


/* 
    /MAIN 
*/


/* 
    FOOTER 
*/

footer{
  color: white;
  font-size: 12px;
  background-color: #00439c;
}

footer .col_left,
footer .col_right,
footer .col_bottom{
  padding:10px;
}

footer .col_left a,
footer .col_right a{
  text-decoration: none;
  color: white;
}
footer .col_left svg{
  width: 100px;
  fill: white;
}

#globe_img{
  width: 20px;
}

footer .col_right .ul_custom{
    padding-left: 0;
    margin-bottom: 0;
}

footer .col_right ul li{
  list-style: none;
  padding: 5px 0;
}

#sie_img{
  width: 150px;
  padding-bottom: 10px;
}

/* 
    /FOOTER 
*/